<div id="container-instructions">
    

    <h1>Rating words and features</h1>

    <hr>

    <div class="instructions well">
        <div class="instructions">

            <p>
                Below the word you will see a list of features or qualities that could be used to describe a word or concept.
            </p>

            <p>
                Your task is to decide whether you think the feature is associated the word.
            </p>
        </div>
    </div>
    <div class="instructions well">
        <p>
            Here's an example where you can rate whether bananas make you think about a certain shape or appearance. Give it a try! 
        </p>
        <p>
            You can respond by clicking in the white space below the feature description and it will change color to show your rating. 
        </p>
    </div>


    <script type="text/javascript">
        scroll(0,0)
        //console.log(psiTurk.getInstructionIndicator())
    </script>

    <div class="container" id="mcontainer">
        <div id="jumbodiv">
            <div class="jumbotron" id="jumbotron1">
                <h1 id="theword"></h1>
                <h3 id="thesentence"></h3>
            </div>
        </div>
        <div id="sliderdiv"></div>
        <div id="buttondiv"></div>
    </div>
    
    <div class="instructions well">
        <p>
            You can use the whole range from "not at all", meaning you do not think the current featue is associated with the word, to "very much so", meaning that you think the current word is strongly associated with the feature.
        </p>
    </div>
    
    <div class="instructions well">
        <p>
            After you've made your rating you can click "next" to record your response and receive the next set of ratings.
        </p>
        <p>
            <strong>However</strong>, you will not be able to proceed until you clicked inside of the rating area. This means that even if you 
            want to respond <i>not at all</i> you should click in the rating slot and then drag the mouse all the way to the left.
        </p>

    </div>
    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                   <span class="glyphicon glyphicon-arrow-left"></span>Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>



    <script src="../../static/js/instruct.js"></script>
    <script type="text/javascript">
    var r = 99;
    var low_anch = "not at all"
    var mid_anch = "somewhat"
    var high_anch = "very much so"
    var feature_text = ""

    slidertron = d3.select("#sliderdiv")
        .append("div")
        .attr("id", "slidertron" + r)
        .attr("class", "slidertron");

    slidertron.append("p").attr("id", "feat" + r).html("Makes me think of a <strong>certain shape or appearance</strong>.");
    slidertron.append("div")
        .attr("class", "ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all")
        .attr("id", "slider" + r);

    $(function() {
        $("#slider" + r).slider({
            range: "min",
            value: 0,
            min: 1,
            max: 100,
            step: 1
            // range:"min",
            // animate: true
            // slide: function( event, ui ) {
            //     $( "#amount" ).val( "$" + ui.value );
            // }
        });
    });

    stepdiv = slidertron.append("div")
        .attr("class", "steps");

    stepdiv.append("div")
        .attr("class", "tick")
        .attr("id", "lowtick")
        .style("position", "absolute")
        .html(low_anch);

    stepdiv.append("div")
        .attr("class", "tick")
        .attr("id", "midtick")
        .style("position", "absolute")
        .style("left", "44%")
        .html(mid_anch);


    stepdiv.append("div")
        .attr("class", "tick")
        .attr("id", "hightick")
        .style("position", "absolute")
        .style("left", "88%")
        .style("text-align", "right")
        .html(high_anch);
    </script>
</div>
